.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownContainer::after {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 0.6rem;
  height: 0.6rem;
  margin: auto;
  border-width: 0 0.3rem 0.3rem 0;
  border-color: var(--color-gray);
  border-style: solid;
  transform: rotate(45deg);
  content: '';
}

.dropdown {
  height: 4rem;
  padding-left: 2rem;
  padding-right: 4rem;
  font-size: 1.6rem;
  border: 0.1rem solid var(--color-gray);
  border-radius: 1.6rem;
  appearance: none;
  cursor: pointer;
}
